<div class="container">
  <h1>{{ title }}</h1>
  <p>
    Welcome to our website! We are a team of passionate developers dedicated to
    creating the best web applications. Stay tuned for more updates.
  </p>
</div>
